body {
  background-color: #333;
  color: aliceblue !important;
}

.search-bar {
  background-color: #444;
  color: aliceblue;
}

.video-item {
  display: inline-flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item img {
  max-width: 150px !important;
  border-radius: 5%;
}

.video-item h3 {
  color: #fff !important;
}
