body {
  background-color: #333;
}

.search-bar {
  background-color: #444;
  color: aliceblue;
}

.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  color: aliceblue !important;
}

.video-item img {
  max-width: 150px !important;
  border-radius: 5%;
}

.video-item h3 {
  color: #fff !important;
}

.video-item ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.video-item ::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
